* {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #2F3447;

}

.hero {
    display: inline-block;
    position: absolute;
    top: 50%;
    bottom: 50%;


}

.hero h1 {
    font-size: 100px;
    color: #babbf1;
    margin-bottom: 0;
    margin-top: 0;
}

.hero h2 {
    margin-top: 0;
    padding-left: 150px;
    font-size: 40px;
    color: #81c8be;
}
.hero ul {
    list-style: none;
    text-align: center;
}
.hero ul li {
    display: inline-block;
    padding: 0 40px;
}
.hero ul li a {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}
a:link {
    color: #8caaee;
}
a:hover {
    color: #1e66f5;
    cursor: pointer;
}
a:visited {
    color: #ca9ee6;
}