* {
    font-family: 'IBM Plex Mono', monospace;
    background-color: #2F3447;
}

.lang {
    padding-top: 80px;
    padding-left: 0;
    padding-bottom: 10px;
    width: 35%;

}

.lang ul {
    display: flex;
    flex-shrink: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-between;


}
.lang li:first-child {
    padding-left: 0;
}

.lang li {
    font-size: 25px;
    padding-left: 15px;
}

.hero {
    position: relative;
    display: inline-block;
}

.hero i {
    padding-right: 10px;
    font-size: 35px;
}

.hero h1 {
    font-size: 75px;
    color: #babbf1;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 0px;
}

.hero h2 {
    margin: 0;
    padding-top: 0;
    font-size: 35px;
    color: #81c8be;
    padding-bottom: 5px;
    margin-bottom: 0;
    margin-top: 0;
}
.hero ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 0;
    list-style: none;
}

.hero li {
    padding-right: 30px;
    font-size: 25px;
    color: #babbf1;

}

.hero li:first-child {
    padding-left: 0;
}

a {
    align-items: center;
    font-size: 25px;
    font-weight: medium;
    text-decoration: none;
}

.cursor {
    font-size: 40px;
    font-weight: bold;
    animation: blink 1s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a:link {
    color: #8caaee;
}
a:hover {
    color: #1e66f5;
    cursor: pointer;
}
a:visited {
    color: #ca9ee6;
}

@media (max-width: 1000px) {
    .lang li {
        padding-right: 35px;
    }
    .hero li {
        padding-top: 30px;

    }

    .hero h1 {
        font-size: 42px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .hero h2 {
        font-size: 32px;
    }
}